#result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
img {
  margin: 10px;
  width:230px;
  height: 175px;
}
.menu {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.pagination {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.pagination div {
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
}
.pagination div:hover{
color:red;
}